{
  "printWidth": 120,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "bracketSpacing": true
}
